@import url('./photographerMQ.css');

#main {
	display: flex;
	flex-direction: column;
}

#contact_modal {
	display: none;
}

.photograph-header {
	background-color: #fafafa;
	height: 300px;
	margin: 0 0 30px 0;
	display: flex;
	justify-content: space-between;
	padding: 0 5%;
	align-self: center;
	width: 78%;
}

nav {
	position: relative;
}
nav ul:focus {
	border: 1px black solid;
}
.contact_button {
	font-size: 20px;
	font-weight: bold;
	color: white;
	padding: 11px;
	width: 170px;
	height: 70px;
	border: none;
	background-color: #901c1c;
	border-radius: 5px;
	cursor: pointer;
	align-self: center;
}

#contact-btn:hover,
#contact-btn:focus {
	background-color: #db8876;
	color: black;
}

.modal {
	position: absolute;
	top: 4%;
	left: 24%;
	border-radius: 5px;
	background-color: #db8876;
	width: 50%;
	max-width: 670px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 35px;
	margin: auto;
	box-shadow: -13px 0 20px -10px rgba(0, 0, 0, 0.5);
}

.modal #modal-header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.modal header img {
	cursor: pointer;
}

.modal #modal-header h2 {
	font-size: 64px;
	font-weight: normal;
	text-align: center;
	margin: 0;
}

.bground {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background: rgba(196, 196, 196, 0.4);
}

form {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
}

form label {
	color: #312e2e;
	font-size: 36px;
}

form div {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: self-start;
	margin-bottom: 26px;
}

form input {
	width: 100%;
	height: 68px;
}

form input,
textarea {
	border: none;
	font-size: 2em;
	border-radius: 5px;
}

#message {
	width: 100%;
	height: 170px;
}

#photographer-img {
	object-fit: cover;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	align-self: center;
	margin-left: 5%;
}

#photograph-infos {
	display: flex;
	flex-direction: column;
}

#photograph-infos h1 {
	color: #d3573c;
	font-size: 3.5em;
	margin-bottom: 0;
	font-weight: lighter;
}

#photograph-infos > :nth-child(2) {
	font-size: 1.5em;
	color: #901c1c;
	margin-bottom: 0;
}

#photograph-infos > :nth-child(3) {
	color: #525252;
}

.menu-container {
	display: flex;
	margin-left: 7%;
	margin-bottom: 5%;
	align-items: baseline;
	position: relative;
	z-index: 1;
}

#sort-label {
	font-size: 1.1em;
	font-weight: bold;
	margin-right: 25px;
	align-self: baseline;
}

nav ul {
	width: 170px;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	color: #fff;
	font-weight: bold;
	font-size: 1.1em;
	position: relative;
	border: 1px solid #901c1c;
	border-radius: 5px;
	padding: 0;
	cursor: pointer;
	position: absolute;
	top: -50px;
}

li {
	background-color: #901c1c;
	padding: 20px 20px;
}

li:not(:first-child) {
	position: relative;
}

li:not(:first-child)::before {
	content: "";
	position: absolute;
	top: 0px;
	left: 5px;
	width: 90%;
	height: 1px;
	background-color: rgb(255, 255, 255);
}

ul::after {
	content: "";
	position: absolute;
	right: 25px;
	top: 22px;
	width: 0.6em;
	height: 0.6em;
	border-left: 0.2rem solid rgb(255, 255, 255);
	border-bottom: 0.2rem solid rgb(255, 255, 255);
	transform: rotate(315deg);
}

.arrow-up::after {
	transform: rotate(135deg);
	top: 28px;
}

article {
	width: 350px;
	min-width: 250px;
	margin-bottom: 2%;
}

article img,
article video {
	width: 100%;
	height: 300px;
	object-fit: cover;
	border-radius: 5px;
	cursor: pointer;
}

.picture-infos {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.heart-container {
	display: flex;
	align-items: center;
}

.likeCount {
	color: #901c1c;
	margin-right: 7px;
}

.fa-heart {
	color: #901c1c;
	cursor: pointer;
}

#heart-full-icon {
	display: none;
}

#heart-bottom {
	color: black;
	cursor: inherit;
}

#media-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 87%;
	align-self: center;
}

#like-container {
	width: 375px;
	height: 70px;
	background-color: #db8876;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	position: fixed;
	bottom: 0;
	right: 40px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 1.2em;
	font-weight: bold;
}

#lightbox {
	position: absolute;
	top: 20%;
	left: 10%;
	border-radius: 5px;
	width: 75%;
	height: 800px;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 35px;
	margin: auto;
	box-shadow: -13px 0 20px -10px rgb(0 0 0 / 50%);
}

#lightbox-close {
	position: absolute;
	top: 80px;
	right: 65px;
}

#lightbox-close path:hover {
	fill: #db8876;
	cursor: pointer;
}

#lightbox-img-container {
	width: 850px;
	height: auto;
	display: flex;
	overflow: hidden;
}

#lightbox-img-container figure {
	margin: 0 20px 0 0;
	width: 100%;
	align-self: center;
}

figcaption {
	color: #901c1c;
	font-size: 1.2em;
	font-weight: 600;
}
.d-none {
	display: none;
}

.lightbox-img {
	width: 850px;
	height: 720px;
	border-radius: 5px;
	object-fit: cover;
	box-shadow: -13px 0 20px -10px rgb(0 0 0 / 50%);
}

#modal-right-btn,
#modal-left-btn {
	color: #901c1c;
	font-size: 4em;
	cursor: pointer;
	position: absolute;
	z-index: 1;
}

#modal-right-btn:hover,
#modal-left-btn:hover {
	color: #db8876;
}

#modal-right-btn {
	top: 50%;
	right: 65px;
}

#modal-left-btn {
	top: 50%;
	left: 65px;
}

